<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JSONDB.UI.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="JSONDB.UI.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <JSONDB.UI.AppSettings>
            <setting name="CustomServerAdress" serializeAs="String">
                <value />
            </setting>
            <setting name="UseCustomServerAdress" serializeAs="String">
                <value>False</value>
            </setting>
        </JSONDB.UI.AppSettings>
        <JSONDB.UI.settings>
            <setting name="ServerDefaultAdress" serializeAs="String">
                <value />
            </setting>
            <setting name="UseServerAdress" serializeAs="String">
                <value>False</value>
            </setting>
        </JSONDB.UI.settings>
    </userSettings>
</configuration>